
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=Alata');


html {
  /*-- Main font sizes --*/
  --title-size:      50px;
  --body-size:       1.06rem;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #000000;
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Alata', sans-serif;
  --mono-font:       monospace;
  --body-font:       'Cardo', serif;
  --navbar-font:     'Alata', sans-serif;  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    0.6rem;
  --heading-color:   rgba(0, 0, 0, 0.5);
  --body-size:       0.8rem;
  --body-color:      rgba(0, 0, 0, 0.8);
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;
  --text-color:       white;
  --text-size:        15px;
  --hover-color:      #89ac81;
  --bkgd-color:       #000;
}

.distill-site-footer {
  --text-color:       white;
  --text-size:        15px;
  --hover-color:      #89ac81;
  --bkgd-color:       #000;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below */
.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.card {
    color: #474747;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; 
    margin: 16px 16px;
    text-decoration: none;
    display: flex;
}

.card-body {
  padding: 2px 16px;
}

.card-img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 30px;
}

.card-footer {
  background-color: #000;
  color: white;
  text-align: right;
  padding-right: 5px;
}


@media screen and (max-width: 992px) {
  .card {
    color: #474747;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; 
    margin: 16px 16px;
    text-decoration: none;
    display: block;
    width: 300px;
  }
  
}

.icon-link {
    background-color: #FFFFFF;
    color: #000000;
    padding: 3px 5px 3px 5px;
    margin: 0 2px 0 2px;
    border-radius: 0px; /* Rounded edges */
}

.icon-link:hover {
    background-color: #89ac81;
    color: #FFFFFF;
}

